name: cd

on:
  push:
    branches: [main]

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    env:
      DATABASE_URL: ${{ secrets.DATABASE_URL }}

    steps:
      - name: check out code
        uses: actions/checkout@v4

      - name: install goose
        run: go install github.com/pressly/goose/v3/cmd/goose@latest

      - name: go toolchain
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.1"

      - name: build
        run: ./scripts/buildprod.sh

      - name: run migration
        run: ./scripts/migrateup.sh
